<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>
<div th:include="blocks/header"/>

<form class="form-horizontal" method="POST" style="position:fixed;top:10%;left:40%;width:250px;"
      th:object="${user}" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label th:class="${#fields.hasErrors('username')}?  'text-danger'">Username</label>

            <div class="controls">
                <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')}?  'input-xlarge'"/>

                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label th:class="${#fields.hasErrors('email')}?  'text-danger'">E-mail</label>

            <div class="controls">
                <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}?  'input-xlarge'"/>

                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label th:class="${#fields.hasErrors('password')}?  'text-danger'">Password</label>

            <div class="controls">
                <input type="password" th:field="*{password}"
                       th:class="${#fields.hasErrors('password')}? 'input-xlarge'"/>

                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <label>Profile Picture</label>

            <div class="controls">
                <input type="file" name="profilePicture"
                       accept="image/gif, image/png, image/jpeg"/>

                <p class="help-block">Choose image for your profile</p>
            </div>
        </div>

        <!--<div class="control-group">-->
        <!-- Password -->
        <!--<label class="control-label"  for="password_confirm">Password (Confirm)</label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>-->

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>